/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

:root {
  --primary-color: #3d50ff;
  --secondary-color: #ff45fe;
  --accent-color: #ffd700;
  --dark-color: #3a3a3c;
  --light-color: #f9f9f9;
  --highlight-color: #0077ff;
}